@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-blue-gradient {
  background: linear-gradient(to right, #1e2a47, #3498db);
}

body {
  background-color: #1e2a47;
  color: #f4f4f4;
}

